.icon-item {
    background: #FFFEFE;
}

.icon-group .icon-item:not(:last-child) {
    margin-right: 1.8rem;
}
.shadow-social {
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
}
.icon-item svg{
    font-size: 0.875rem;
}
.icon-item {
    padding: 12px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #080809;
    background-color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 3.2rem;
    width: 3.2rem;
    border: 0;
    font-size: 0.875rem;
}

li.mb-2 {
    list-style: none;
}

h4.footer-heading-color {
    line-height: 1.2;
    font-size: 1.26563rem;
    font-weight: 700 !important;
    margin-bottom: 1.8rem !important;
    color: #080809;
}

.svg-inline--fa.fa-w-10 {
    width: 0.625em;
}